:root {
  --primary: #00458c;
}
@font-face {
  font-family: "Satoshi";
  src: url("fonts/Satoshi-Black.eot");
  src:
    url("fonts/Satoshi-Black.eot?#iefix") format("embedded-opentype"),
    url("fonts/Satoshi-Black.woff2") format("woff2"),
    url("fonts/Satoshi-Black.woff") format("woff"),
    url("fonts/Satoshi-Black.ttf") format("truetype"),
    url("fonts/Satoshi-Black.svg#Satoshi-Black") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("fonts/Satoshi-Bold.eot");
  src:
    url("fonts/Satoshi-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Satoshi-Bold.woff2") format("woff2"),
    url("fonts/Satoshi-Bold.woff") format("woff"),
    url("fonts/Satoshi-Bold.ttf") format("truetype"),
    url("fonts/Satoshi-Bold.svg#Satoshi-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("fonts/Satoshi-Medium.eot");
  src:
    url("fonts/Satoshi-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/Satoshi-Medium.woff2") format("woff2"),
    url("fonts/Satoshi-Medium.woff") format("woff"),
    url("fonts/Satoshi-Medium.ttf") format("truetype"),
    url("fonts/Satoshi-Medium.svg#Satoshi-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("fonts/Satoshi-Light.eot");
  src:
    url("fonts/Satoshi-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/Satoshi-Light.woff2") format("woff2"),
    url("fonts/Satoshi-Light.woff") format("woff"),
    url("fonts/Satoshi-Light.ttf") format("truetype"),
    url("fonts/Satoshi-Light.svg#Satoshi-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("fonts/Satoshi-Regular.eot");
  src:
    url("fonts/Satoshi-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Satoshi-Regular.woff2") format("woff2"),
    url("fonts/Satoshi-Regular.woff") format("woff"),
    url("fonts/Satoshi-Regular.ttf") format("truetype"),
    url("fonts/Satoshi-Regular.svg#Satoshi-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi_Light"; /* Choose a custom name */
  src:
    url("../fonts/Satoshi-Light.woff2") format("woff2"),
    url("../fonts/Satoshi-Light.woff") format("woff"),
    url("../fonts/Satoshi-Light.ttf") format("truetype"),
    url("../fonts/Satoshi-Light.svg#Satoshi_Light") format("svg");
  font-weight: 100; /* Light weight */
  font-style: normal;
}
@font-face {
  font-family: "Satoshi_bold"; /* Choose a custom name */
  src:
    url("../fonts/Satoshi-Bold.woff2") format("woff2"),
    url("../fonts/Satoshi-Bold.woff") format("woff"),
    url("../fonts/Satoshi-Bold.ttf") format("truetype"),
    url("../fonts/Satoshi-Bold.svg#Satoshi_bold") format("svg");
  font-weight: 700; /* Light weight */
  font-style: normal;
}
@font-face {
  font-family: "Satoshi_regular"; /* Choose a custom name */
  src:
    url("../fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../fonts/Satoshi-Regular.woff") format("woff"),
    url("../fonts/Satoshi-Regular.ttf") format("truetype"),
    url("../fonts/Satoshi-Regular.svg#Satoshi_regular") format("svg");
  font-weight: 600; /* Regular weight */
  font-style: normal;
}
body {
  font-family: Satoshi, sans-serif;
  overflow-x: hidden;
}
.service-offring .service-right .row .col-md-6 {
  border-bottom: 1px solid rgba(183, 183, 183, 0.36);
  border-left: 1px solid rgba(183, 183, 183, 0.36);
  padding: 22px;
}
.text-gradient {
  /* background: var(--Text-Gradient, linear-gradient(90deg, #7351A4 21.15%, #0B71A7 53.37%, #009462 100%)); */
  background: linear-gradient(90deg, #b64958 21.15%, #0b71a7 53.37%, #009462 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bold {
  font-weight: 700;
  font-family: Satoshi_bold;
}
.lightWeight {
  font-weight: 100;
  font-family: Satoshi_Light;
}
.secondHeading {
  font-size: 38px;
  color: #33384b;
  /* max-width: 1170px; */
  margin: 0 auto;
  font-weight: 500;
  line-height: 48px;
}
.mainHeading {
  font-size: 60px;
  color: var(--primary);
}
.serviceBx {
  background-image: url(../img/home_page/circle-waves1.svg);
  background-repeat: no-repeat;
  padding-top: 100px;
}
.service-offring .service-right .row .col-md-6 .so-box h2 {
  max-width: 217px;
  margin-bottom: 15px;
}
.so-box h2 {
  color: #142e63;
}
.service-offring .service-right {
  width: 60%;
}
.service-offring .service-left {
  width: 40%;
  margin-top: -90px;
}
.service-right p {
  font-size: 18px;
  font-weight: 300;
  color: #294864;
  line-height: 24px;
}
.service-offring {
  display: flex;
  width: 100%;
  gap: 40px;
}
.service-offring .service-right .row .col-md-6:nth-child(odd) {
  border-left: none;
}
.service-offring .service-right .row .col-md-12 {
  padding: 22px;
}
.servicesHeadingBx {
  background: linear-gradient(0deg, #fff 36.51%, #f2f8fe 100%);
  box-shadow: 0 3px 4px 0 rgba(42, 47, 51, 0.08) inset;
  padding-top: 30px;
}
.countBx .number {
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 166.667% */
}
.countBx .title {
  color: rgba(10, 18, 46, 0.8);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  min-height: 56px;
  display: flex;
  align-items: center;
}
.countBx .countList > div {
  border-left: 1px solid #032d6031;
  min-width: 140px;
  padding: 0 28px;
}

.countBx .count1 .number {
  color: #e36889;
}
.countBx .count2 .number {
  color: #16b1d4;
}
.countBx .count3 .number {
  color: #8265eb;
}
.countBx .count4 .number {
  color: #52a2f5;
}
.countBx .count5 .number {
  color: #e3684c;
}
.countBx .count6 .number {
  color: #49c7b2;
}
.countBx .countList > div {
  max-width: 183px;
}
.countBx .countList > div.count1 {
  border-left: none;
}
.countList {
  justify-content: center;
  gap: 20px;
}
.countBx .countList > div.count5 {
  max-width: 226px;
}

.section3 .btnStarted {
  min-width: 338px;
  padding: 17px 0;
}

.btnStarted svg {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.25));
}
.section3 .left {
  color: #142e63;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: -0.92px;
  width: 100%;
}
.section3 .innerSection {
  background-image: url(../img/home_page/bg1.png);
  background-size: cover;
  border-radius: 22px;
  gap: 30px;
  align-items: center;
  padding: 30px 90px 30px 30px;
  margin-top: 60px;
}
.section4 .heading {
  color: var(--primary);
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 116.667% */
}
.section4 .secondHeading {
  color: #33384b;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.section4 {
  background: linear-gradient(300deg, #fff 53.49%, #f3f6fc 101%);
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.section4 .section4Left {
  border-radius: 24px 0 0 0;
  background: linear-gradient(289deg, #d7fbec 40.59%, #c1edfe 99.08%);
  padding: 50px 24px;
  max-width: 600px;
}
.section4 .leftpara {
  color: #272d4e;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 154.545% */
}
.feature-list {
  display: flex;
  flex-direction: column;
  gap: 16px; /* space between items */
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  border-radius: 999px; /* pill shape */
  padding: 10px 18px;
  font-size: 19px;
  font-weight: 600;
  color: #1b2140; /* dark text */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  min-width: 325px;
}

.leftSide {
  padding-top: 50px;
}

.robotoImg {
  margin-top: -25px;
}

.section4 button.btn.btn-primary.btnStarted {
  font-size: 23px;
  height: 74px;
  margin-top: 50px;
}
.sectionInner1 {
  margin-bottom: 70px;
}

.sectionInner2 .features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #0a1a3c;
}
.salesforceBg {
  background-image: url(../img/home_page/salesforceBg.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: 490px;
}
.sectionInner2 .card-box {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  flex-direction: column;
  padding: 8px;
}

.sectionInner2 .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fff;
  filter: drop-shadow(0 2px 4px rgba(139, 180, 223, 0.1)) drop-shadow(0 7px 7px rgba(139, 180, 223, 0.09))
    drop-shadow(0 16px 10px rgba(139, 180, 223, 0.05)) drop-shadow(0 28px 11px rgba(139, 180, 223, 0.01))
    drop-shadow(0 44px 12px rgba(139, 180, 223, 0));
}

.sectionInner2 h3 {
  color: #142e63;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 124.405% */
}

.sectionInner2 p {
  color: #142e63;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 141.176% */
  margin-bottom: 0;
}

.sectionInner2 .sub-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  flex-wrap: wrap;
  gap: 5px;
}

.sectionInner2 .sub-list li {
  width: calc(50% - 10px);
  color: #142e63;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 29.857px; /* 199.048% */
  display: flex;
  gap: 10px;
  white-space: nowrap;
  align-items: center;
}
.sectionInner2 .sub-list li svg {
  width: 14px;
}
.sectionInner2 .icon img {
  width: 58px;
}
.sectionInner2 .col-md-12 > .d-flex {
  gap: 20px;
}
.oragneText {
  color: #ff713d;
}
.section4 .section3 .innerSection {
  background-image: url(../img/home_page/bg2.png);
  background-size: cover;
}
.section4 .section3 button.btn.btn-primary.btnStarted {
  margin-top: 0;
}
.section4 .section3 .left {
  width: 100%;
}
.section4 .section3 .innerSection {
  padding: 30px;
}
.sectionSix .owl-item.active.center {
  transform: scale(1.1); /* adjust scale factor as desired */
  transition: transform 0.3s ease;
  z-index: 1000; /* keep the centered item above others if overlapping */
}

.sectionSix .clientFeeback .owl-item {
  transform: scale(0.7);
}
.iframe-container {
  position: relative;
  width: calc(100% - 60px);
  padding-bottom: 56.25%; /* 16:9 aspect ratio → 9/16 = 0.5625 */
  height: 0;
  overflow: hidden;
  margin: 0 auto;
}

/* .iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
} */
.sectionSix .clientFeeback .owl-prev {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 40%;
  display: block !important;
  background-color: #fff !important;
  border-radius: 50% !important;
  background-image: url(../img/home_page/sliderArrow-left.svg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  left: 0px;
  background-size: 9px !important;
  border: 1px solid #304e69 !important;
}
.sectionSix .clientFeeback .owl-next {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 40%;
  right: 0px;
  display: block !important;
  background-color: #fff !important;
  border-radius: 50% !important;
  background-image: url(../img/home_page/sliderArrow-right.svg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 9px !important;
  border: 1px solid #304e69 !important;
}
.sectionSix .clientFeeback .owl-prev span,
.sectionSix .clientFeeback .owl-next span {
  font-size: 0;
}
.sectionFiveHeading {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 86.667% */
}
.countBx {
  margin-top: 50px;
}
.sectionFiveSubHeading {
  color: #33384b;
  font-size: 25px;
  font-family: "Satoshi_Light";
  font-weight: 400;
  line-height: 36px; /* 144% */
}
.sectionSix {
  background: linear-gradient(300deg, #fff 53.49%, #f3f6fc 101%);
  padding-top: 45px;
  padding-bottom: 60px;
}
.industyLeft {
  border-radius: 24px;
  background: linear-gradient(180deg, #e8eef1 0%, #f9fafa 52.88%);
}
.industyLeftInner {
  padding: 35px;
  background-image: url(../img/home_page/industyFirstBg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.industyTwo .industyLeftInner {
  background-image: url(../img/home_page/industyFirstBg1.png);
}
.industyThree .industyLeftInner {
  background-image: url(../img/home_page/industyFirstBg2.png);
}
.industyLeft .title {
  color: var(--primary);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}
.indusryPara {
  color: #33384b;
  font-size: 18px;
  line-height: 28px;
  max-width: 420px;
}
.industList {
  list-style: none;
  margin-top: 17px;
}

.industList li {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--primary);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 100% */
}
.industyLeftInner ul {
  max-width: 306px;
}
.industyLeftInner ul img {
  min-width: 32px;
}
.exploreBtn {
  display: inline-flex;
  padding: 7px;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #d5e0e6;
  width: 154px;
  border: none;
  color: #294864;
  justify-content: center;
  height: 48px;
}
.industyThree .industList li {
  font-size: 17px;
  color: var(--primary);
  font-weight: 600;
}
.industyThree .industyLeftInner ul {
  max-width: 379px;
}
.industyThree .indusryPara {
  max-width: 385px;
}
.industyLeft.industyTwo {
  margin-bottom: 26px;
}
.industyLeft.industyFirst {
  margin-bottom: 33px;
}
section.sectionFive,
.sectionSix {
  margin-top: 84px;
}
.industyFirst ul {
  margin-bottom: 35px;
}
.industyFirst .indusryPara {
  margin-bottom: 30px;
}
.sectionFive .sectionFiveHeading {
  margin-bottom: 50px;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.robotoImg {
  width: 230px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
  background: #fff; /* optional */
}

.marquee-content {
  display: inline-flex;
  animation: marquee 18s linear infinite;
  gap: 40px;
  align-items: center;
}
.sectionNine .grid-container {
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.sectionNine .grid-container .ben-ponits {
  min-height: 108px;
}
.sectionNine .ben-result {
  font-size: 35px;
}
.sectionNine .ben-ponits {
  line-height: 30px;
  min-height: 91px;
}
.sectionNineContainer {
  background: linear-gradient(180deg, #f2f8fe 0%, #fff 43.75%, #f9fbff 100%);
  margin-top: 64px;
  padding-top: 45px;
  padding-bottom: 45px;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  } /* move by half of total width */
}

.trustTitle {
  color: #00a1e0;
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 134.615% */
  white-space: nowrap;
  padding-right: 40px;
}
.container-fluid.logoBx {
  padding: 50px 16px;
  overflow: hidden;
}
.logoList {
  display: flex;
  align-items: center;
}
/* Ai page  */
.aiHeroBannerTitle {
  letter-spacing: -0.4px;
}
.aiHeroBanner {
  background-image: url(../img/ai_page/heroBg.png);
  background-repeat: no-repeat;
  background-position-x: 100% !important;
  height: 675px;
  align-items: center;
  display: flex;
}
.industry-focus .title {
  color: #fff;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px; /* 87.815% */
  width: 100%;
  font-weight: 700;
}
.industry-focus .dis {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
}
.industry-focus .card {
  position: relative;
}

.industry-focus .card .bottomBx {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 50px 26px;
  height: 264px;
  display: flex;
  align-items: end;
  justify-content: start;
  text-align: left;
  border-radius: 0 0 8px 8px;
  background: linear-gradient(180deg, rgba(37, 43, 45, 0.01) 0%, rgba(37, 40, 40, 0.67) 50.01%, #090a0a 100%);
  justify-content: end;
  flex-direction: column;
  gap: 10px;
}
.industry-focus .moreIndusry .title {
  color: #fff;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 50px; /* 113.409% */
}
.industry-focus .col-md-12 {
  margin-bottom: 30px;
}
.industry-focus {
  background-image: url(../img/ai_page/industry.png);
  padding: 50px 16px 100px 16px;
  background-repeat: no-repeat;
  background-size: cover;
}

.industry {
  display: flex;
  gap: 60px;
  max-width: 740px;
  flex-wrap: wrap;
}

.industry-box {
  width: calc(50% - 30px);
}

.industry-box h3 {
  color: var(--primary);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 124.405% */
}

.industry-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.industry-box ul li {
  color: #142e63;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 123.529% */
  display: flex;
  gap: 10px;
}
.innderIndustryBx {
  gap: 8px;
  align-items: center;
  margin-bottom: 20px;
}

.industry-box ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.industry-icon {
  fill: #fff;
  filter: drop-shadow(0 2px 4px rgba(139, 180, 223, 0.1)) drop-shadow(0 7px 7px rgba(139, 180, 223, 0.09))
    drop-shadow(0 16px 10px rgba(139, 180, 223, 0.05)) drop-shadow(0 28px 11px rgba(139, 180, 223, 0.01))
    drop-shadow(0 44px 12px rgba(139, 180, 223, 0));
}
.robotBx {
  background-image: url(../img/ai_page/robotoBg.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  padding-bottom: 140px;
  background-color: #fff;
}
.robotBxInner {
  background-image: url(../img/ai_page/squreBg.svg);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}
.robotBx .mainHeading {
  margin-bottom: 50px;
  margin-top: 50px;
}
.showToHow.section3 .innerSection {
  background-image: url(../img/ai_page/bgCallToAction.png);
}
.showToHowContainer {
  background-color: #fff;
}
.peopleList span {
  background: linear-gradient(112deg, #fff 8.84%, #66b21e 91.16%);
  width: 40px;
  height: 40px;
  border-radius: 80px;
  display: inline-block;
  padding: 2px;
}
.peopleList span:nth-child(2) {
  margin-left: -20px;
}
.peopleList span:nth-child(3) {
  margin-left: -20px;
}
.peopleList span img {
  max-width: 100%;
}
.bannerHeight {
  height: 183px;
}
.margin0 {
  margin-top: 0 !important;
}

.aiHeroBanner a.btn.btnStarted {
  padding: 0 30px;
}
/* end Ai page  */

/* about page */
.aboutBanner .heroBanner {
  height: 676px;
  display: flex;
  align-items: center;
  border-bottom: 1px #ededed solid;
}
.so-triangle-shape {
  z-index: -1;
}
@media (min-width: 1500px) {
  .aboutBanner .heroBanner {
    height: 546px;
  }
}

@media (min-width: 1800px) {
  .aboutBanner .heroBanner {
    height: 610px;
  }
}

.aboutBanner .home-title-inner {
  max-width: 639px;
}
/* .aboutBanner .text-gradient {
  background: linear-gradient(90deg, #7351a4 21.15%, #0b71a7 53.37%, #009462 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
.aboutTitle,
.aboutSubTitle {
  color: var(--primary);
  font-size: 52px;
  font-style: normal;
  font-weight: 900;
  line-height: 52px; /* 100% */
}
.aboutTitle {
  margin-bottom: 30px;
}
.aboutSubTitle {
  font-size: 42px;
  margin-bottom: 40px;
}
.caption {
  color: #3b4158;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.teamList .name,
.teamList .post {
  color: var(--primary);
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 100% */
}
.teamList .post {
  font-weight: 500;
  text-transform: uppercase;
}
.sectionTen {
  padding-top: 65px;
  margin-bottom: 60px;
}
.profilePic {
  margin-bottom: 25px;
  text-align: center;
}
.list .name {
  margin-bottom: 10px;
}
.teamExperience li {
  color: var(--primary);
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
}
.teamExperience ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0;
  list-style: none;
  margin: 0;
}
.teamExperience {
  border-left: 1px solid rgba(3, 45, 96, 0.15);
  padding-left: 35px;
  max-width: 500px;
}
.teamExperience li svg {
  min-width: 37px;
}
.teamDetail {
  gap: 50px;
}
.global-footprints {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../img/mapBg.png);
  padding: 40px 60px;
  border-radius: 10px;
  margin: 40px auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.global-text h2 {
  color: #142e63;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.786px;
}

.global-text ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.global-text li {
  font-size: 26px;
  color: #002c5f;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  font-weight: 700;
}
.industryContainer {
  background: linear-gradient(180deg, #f2f8fe 0%, #fff 43.75%, #f9fbff 100%);
}
.industryContainer .trustLogo ul {
  gap: 29px;
  padding-bottom: 0;
  margin-bottom: 0;
}
section.valueContainer {
  padding-top: 30px;
  padding-bottom: 30px;
}
.industryLogo {
  border-radius: 12px;
  border: 3px solid rgba(10, 82, 164, 0.19);
  padding: 70px 35px 35px;
  margin-bottom: 70px;
}
.countryName {
  border-radius: 8px 8px 8px 0;
  background: #0a52a4;
  color: #fff;
  text-align: center;
  font-size: 41px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 126.829% */
  width: 310px;
  position: absolute;
  left: -2px;
  top: -29px;
}
.countryName.australia {
  background: #0a52a4;
}
.countryName.northAmerica {
  background: #0a73a4;
}
.countryName.EMEA {
  background: #0a9aa4;
}
.values-section {
  display: flex;
  gap: 20px;
  padding: 0 40px;
  max-width: 1200px;
  margin: auto;
}

.value-box {
  padding: 10px;
  border-left: 4px solid transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
  width: 225px;
  position: relative;
}

/* Different border colors */
.value-box:nth-child(1):before,
.value-box:nth-child(2):before,
.value-box:nth-child(3):before,
.value-box:nth-child(4):before,
.value-box:nth-child(5):before {
  content: "";
  width: 3px;
  background: linear-gradient(182deg, #1a7fcd 0%, #ffffff00 100%);
  height: 300px;
  position: absolute;
  left: -15px;
  top: -70px;
  z-index: 0;
}

.value-box:nth-child(2):before {
  background: linear-gradient(181deg, #1f92cc 0%, #fff 100%);
}
.value-box:nth-child(3):before {
  background: linear-gradient(182deg, #1a7fcd 0%, #ffffff00 100%);
}
.value-box:nth-child(4):before {
  background: linear-gradient(180deg, #09c4a5 0%, #fff 100%);
}
.value-box:nth-child(5):before {
  background: linear-gradient(180deg, #ffb534 0%, #fff 100%);
}
.value-box:nth-child(5):after {
  background: linear-gradient(180deg, #ff4b3b 0%, #fff 100%);
  content: "";
  width: 3px;
  height: 300px;
  position: absolute;
  right: 0;
  top: -70px;
  z-index: 0;
}
.circleImg {
  z-index: 1;
}

.value-box h3 {
  color: var(--primary);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29.857px; /* 124.405% */
}

.value-box p {
  color: #142e63;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}
/* .valueContainer .text-gradient,
.industryContainer .text-gradient {
  background: linear-gradient(
    90deg,
    #7351a4 21.15%,
    #0b71a7 53.37%,
    #009462 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
.valueContainer .mainHeading {
  font-weight: 700;
  margin-bottom: 50px;
}
.industryContainer .mainHeading {
  margin: 50px 0;
  font-weight: 700;
}
.aboutContact .helpPara {
  max-width: 800px;
  display: inline-block;
  font-weight: 700;
}
/* .aboutContact .title {
  font-size: 47px;
} */

section.section9.aboutContact {
  margin-top: 0;
}
.sectionNineContainer.aboutNine {
  background: linear-gradient(180deg, #f2f8fe 0%, #fff 43.75%, #f9fbff00 100%);
  padding-bottom: 0;
}
.speakSubHeading {
  color: #33384b;
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  max-width: 1028px;
  margin: 0 auto 30px auto;
}
.aboutNine .grid-container {
  padding-top: 50px;
}
.sectionTen p {
  font-size: 18px;
}
/* End about page */

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
@media (max-width: 1750px) {
  .aiHeroBanner {
    background-size: 800px;
    background-position-y: 100% !important;
  }
}
@media (max-width: 1700px) {
  /* .aboutBanner .home-content .home-title-inner {
    font-size: 41px !important;
    line-height: 1.2 !important;
  } */
  .aboutTitle,
  .aboutSubTitle {
    font-size: 40px;
    line-height: normal;
  }
  .aboutTitle {
    margin-bottom: 16px;
  }
  .aboutSubTitle {
    font-size: 34px;
  }
  .sectionTen {
    margin-bottom: 40px;
  }
  .global-text h2 {
    font-size: 34px;
  }
  .global-text li {
    font-size: 20px;
  }
  .global-text li svg {
    width: 28px;
    min-width: 28px;
  }
  .countryName {
    font-size: 30px;
    width: 255px;
  }
  .industryLogo {
    padding: 43px 35px 35px;
  }
  .value-box h3 {
    font-size: 22px;
  }
  .robotBx {
    background-position-y: 100%;
    padding-bottom: 100px;
    background-size: 700px;
  }
  .speakSubHeading {
    font-size: 26px;
  }
  .value-box p {
    font-size: 16px;
  }
  .trustTitle {
    font-size: 3em;
  }
  .mainHeading,
  .sectionFiveHeading,
  .sectionFiveHeading {
    font-size: 48px;
  }
  .secondHeading {
    /* max-width: 945px; */
    font-size: 30px;
    line-height: 1.3;
  }
  .service-offring .service-right .row .col-md-6 .so-box h2,
  .service-offring .service-right .row .col-md-12 .so-box h2 {
    font-size: 1.5rem;
  }
  .service-right p {
    font-size: 16px;
  }
  .section4 .heading {
    font-size: 48px;
    max-width: 1001px;
    margin: 0 auto;
  }
  .section4 .secondHeading {
    font-size: 30px;
  }
  .industyLeft .title {
    font-size: 36px;
  }
}
@media (max-width: 1500px) {
  .btnStarted {
    font-size: 24px;
  }
  .sectionNine .grid-container .ben-ponits {
    min-height: 76px;
  }
  .ben-ponits {
    font-size: 20px;
  }
  .sectionNine .ben-result {
    font-size: 28px;
  }
  /* .aiHeroBanner .home-content .home-title-inner {
    font-size: 40px !important;
    line-height: 52px !important;
  } */
  .aiHeroBanner a.btn.btnStarted {
    font-size: 22px;
    height: 60px;
  }
  .aiHeroBanner {
    background-size: 700px !important;
  }
  .trustTitle {
    font-size: 2.5em;
  }
  .mainHeading,
  .sectionFiveHeading,
  .sectionFiveHeading {
    font-size: 40px;
  }
  .secondHeading {
    font-size: 26px;
  }
  .countBx .number {
    font-size: 36px;
    line-height: 50px;
  }
  .countBx .title {
    font-size: 16px;
    line-height: 24px;
  }
  .section3 .left {
    font-size: 36px;
  }
  .section4 .heading {
    font-size: 40px;
    line-height: 50px;
  }
  .section4 .secondHeading {
    font-size: 26px;
  }
  .section4Left img {
    max-width: 250px;
  }
  .industry-focus .moreIndusry .title {
    font-size: 36px;
  }
  .industry-box h3 {
    font-size: 20px;
  }
  .robotBx {
    background-size: 600px;
    padding: 0;
  }
}

@media (max-width: 1400px) {
  /* .aiHeroBanner .home-content .home-title-inner {
    font-size: 33px !important;
    line-height: 150% !important;
  } */
  .aiHeroBanner .home-content {
    max-width: 461px;
  }
  .aboutBanner .heroBanner {
    height: 523px;
  }
}
@media (max-width: 1300px) {
  .sectionInner2 .sub-list li{
    font-size: 12px;
  }
}
@media (max-width: 1200px) {
  .salesforceBanner .heroBanner {
    padding-left: 16px;
    padding-right: 16px;
  }
  .salesforceBanner .sf-img {
    top: 0;
  }
  .circleImg img {
    max-width: 905px;
  }
  /* .salesforceBanner .container {
    padding: 30px 0;
  } */
  .salesforceBanner .heroBanner {
    height: auto !important;
  }
  .salesforceBanner .heroright {
    width: 40%;
  }

  .salesforceBanner .heroright img {
    max-width: 100%;
  }

  .salesforceBanner .left {
    width: 60%;
  }
}
@media (max-width: 1279px) {
  .tech-left {
    order: 1;
    width: 100%;
  }
  .so-sf-hero img {
    top: 0;
  }
  .tech-right {
    width: 40%;
    margin: 0 auto;
  }
  .tech-right-b {
    margin: 0 auto;
  }
  .section3 .btnStarted {
    min-width: auto;
    white-space: nowrap;
    padding: 17px 10px;
  }
  .sectionNine .img img {
    width: 350px;
  }
  .section3 .left {
    font-size: 32px;
  }
  .mainHeading,
  .sectionFiveHeading,
  .sectionFiveHeading {
    font-size: 34px;
  }
  .btnStarted {
    font-size: 20px;
  }
  .industry-focus .title {
    font-size: 30px;
  }
  .industry-focus .dis {
    font-size: 16px;
  }
  .industry-box ul li {
    font-size: 14px;
  }
  .serviceBx .col-md-12 {
    flex-wrap: nowrap;
    display: flex;
  }

  .serviceBx .service-offring {
    flex-direction: row;
  }

  .service-offring .service-left {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .countBx .countList > div,
  .countBx .countList > div.count1 {
    border: 1px solid #032d6031;
    border-radius: 8px;
  }
  .section4 .container,
  .sectionFive .container {
    max-width: 100%;
  }

  .sectionInner2 .sub-list li {
    width: 100%;
  }
  body {
    overflow-x: hidden;
  }
  .so-sf-hero img,
  .tech-sf-hero img {
    max-width: 100%;
  }
  .tech-sf-hero img {
    top: 0;
    margin-left: 0;
  }
  .service-offring .innerSection {
    flex-direction: column;
  }

  .service-offring .innerSection .left {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .service-offring .service-right {
    width: 100%;
  }
  .service-offring .service-right {
    order: 1;
  }
  .service-offring .service-left {
    margin: 0 auto;
  }
  .section4 .section4Left {
    max-width: 60%;
    margin: 0 auto;
  }
  .sectionInner2 .col-md-12 > .d-flex {
    flex-wrap: wrap;
  }
  .sectionNine .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .aboutContact .row > .d-flex {
    flex-wrap: wrap;
  }
  .talkAbout a.btn.btnStarted {
    margin: 30px auto;
    min-width: 300px;
  }
  .aboutContact .contactUs .right img {
    margin-top: 0;
  }
  .teamDetail {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .teamList {
    gap: 30px;
  }
  .teamExperience {
    border-left: none;
    max-width: 100%;
  }
  .teamExperience ul {
    gap: 16px;
  }

  .teamExperience li {
    align-items: center;
  }
  .aiHeroBanner .home-content {
    max-width: 600px;
    margin: 0 auto;
  }
  .aiHeroBanner .header-container {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .nodesktop {
    display: none;
  }
}
@media (max-width: 991px) {
  .items:nth-child(even):after {
    content: none;
  }
  .service-offring {
    flex-direction: column !important;
  }
  .salesforceBanner .hero-text p {
    margin-bottom: 20 !important;
  }
  .salesforceBanner .left {
    margin-bottom: 30px;
  }
  .salesforceBanner .hero-text > * {
    text-align: center;
  }
  .salesforceBanner .hero-text .banner-btn a {
    margin: 0 auto;
  }
  .salesforceBanner .header-container .row .col-lg-6 {
    width: 100%;
  }
  .salesforceBanner .home-content .home-title-inner {
    margin: 0 auto;
  }
  .sectionNineContainer.aboutNine {
    margin-top: 0px;
  }
  .valueOuterBx .icon {
    border: 7px solid #0d4067;
    border-radius: 50%;
    min-width: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .valueOuterBx,
  .value-box {
    width: 100%;
  }
  .values-section {
    padding: 0;
    gap: 0;
  }
  .valueOuterBx .icon img {
    width: 43px;
  }
  .valueOuterBx:nth-child(2) .icon {
    border: 7px solid #1f92cc;
  }
  .valueOuterBx:nth-child(3) .icon {
    border: 7px solid #09c4a5;
  }
  .valueOuterBx:nth-child(4) .icon {
    border: 7px solid #ffb534;
  }
  .valueOuterBx:nth-child(5) .icon {
    border: 7px solid #ff4b3b;
  }
  .value-box:before {
    content: none !important;
  }
  .noIpad {
    display: none;
  }
  .values-section {
    flex-wrap: wrap;
  }
  .aboutBanner .heroBanner {
    height: inherit;
  }
  .aboutBanner .home-title-inner {
    margin: 0 auto;
  }
  .home-content p {
    max-width: 639px;
    margin: 0 auto;
  }
  .aiHeroBanner {
    height: auto;
    background-image: none;
  }
  .sectionNine .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .robotBx {
    background-image: none;
    padding-bottom: 0px;
  }
  .industry-focus .moreIndusry .title {
    font-size: 22px;
    line-height: 150%;
  }
  .industry-focus .title {
    font-size: 22px;
  }
  .serviceBx .service-offring {
    flex-wrap: wrap;
  }

  .serviceBx .service-offring .service-right {
    order: 1;
  }

  .serviceBx .service-offring .service-left {
    margin: 0 auto;
    display: block;
  }

  .countList {
    flex-wrap: wrap;
  }

  .countBx .countList > div,
  .countBx .countList > div.count1 {
    width: calc(33.33% - 14px);
    max-width: 100%;
    text-align: center;
    padding: 10px 28px;
  }

  .countBx .countList > div .number {
    line-height: 45px;
  }

  .countBx .title {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .section3 .innerSection {
    flex-wrap: wrap;
  }

  .section3 .innerSection .left {
    width: 100%;
    line-height: 48px;
  }
  .section4 .section4Left {
    max-width: 100%;
    width: 100%;
  }

  .sectionInner2 .col-md-12 > .d-flex {
    flex-wrap: wrap;
  }
  .sectionFive .col-md-6 {
    width: 100%;
  }

  .industyLeft.industyFirst ul {
    flex-direction: row !important;
    flex-wrap: wrap;
    max-width: 100%;
    padding-right: 198px !important;
  }
  .clientSlider {
    margin: 0;
  }
  .sectionNine .col-md-12 > .d-flex {
    flex-wrap: wrap;
  }
  .sectionNine .img {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .call-to-action.ss {
    flex-direction: column;
  }
  .left-sub-heading {
    font-size: 30px;
  }
  .why-choose .grid-container {
    width: calc(100% - 20px);
  }
  .industry {
    gap: 30px;
  }
  .innderIndustryBx {
    margin-bottom: 0;
  }
  .sectionNine .items:nth-child(3):after {
    border-right: none;
  }
  .industry-box ul {
    padding-left: 73px;
  }
  .section3.showToHow .btnStarted {
    font-size: 22px !important;
  }
  .industry-focus {
    padding: 30px 0;
  }
  .robotBx .mainHeading {
    margin-bottom: 30px;
  }
  .home-content p {
    font-size: 18px;
  }
  .aiHeroBanner .home-content .home-title-inner {
    font-size: 28px !important;
  }
  .items {
    text-align: center;
  }
  .global-text li span.gap-3 {
    gap: 0.5rem !important;
  }
  .section3 .btnStarted {
    min-width: 100%;
  }
  .sectionNine .grid-container .ben-ponits {
    min-height: auto;
  }
  .industry-box {
    width: 100%;
  }
  .sectionNine .grid-container,
  .why-choose .grid-container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .sectionNine .items:not(:last-child)::after,
  .why-choose .grid-container .items:not(:last-child)::after {
    content: none;
  }
  .sectionNine .items:not(:last-child),
  .why-choose .grid-container .items:not(:last-child) {
    border-bottom: 1px #dde6ef solid;
  }

  .sectionNine .d-flex {
    flex-wrap: wrap;
  }

  .industry-focus .moreIndusry .title {
    font-size: 32px;
  }
  .industry-focus .title {
    font-size: 28px;
  }
  .service-offring .service-left {
    width: 100%;
  }
  .industry-focus .col-md-4 {
    margin-bottom: 16px;
  }
  .mainHeading,
  .sectionFiveHeading,
  .sectionFiveHeading {
    font-size: 30px;
    line-height: normal;
  }
  .secondHeading {
    font-size: 20px;
    margin-top: 10px;
  }
  .serviceBx {
    padding-top: 30px;
  }
  .service-offring {
    gap: 0;
  }
  .service-offring .service-right .row .col-md-6 {
    border-left: none;
  }
  .countBx .countList > div,
  .countBx .countList > div.count1 {
    width: calc(50% - 14px);
  }
  .countBx {
    margin-top: 00px;
  }
  .section3 .innerSection {
    padding: 16px;
    text-align: center;
  }

  .section3 .innerSection .left {
    font-size: 26px;
    line-height: normal;
  }

  .section3 .btnStarted {
    padding: 10px 0;
  }
  .section4 .heading {
    font-size: 26px;
    line-height: normal;
  }
  .section4 .secondHeading {
    font-size: 22px;
    line-height: normal;
  }
  .robotoImg {
    display: none;
  }
  .section4 button.btn.btn-primary.btnStarted {
    min-width: auto;
  }
  .leftSide {
    padding-top: 20px;
  }
  .section3 .innerSection {
    padding: 16px;
    text-align: center;
  }

  .section3 .innerSection .left {
    font-size: 26px;
    line-height: normal;
  }

  .section3 .btnStarted {
    padding: 10px 0;
  }

  .robotoImg {
    display: none;
  }

  .section4 button.btn.btn-primary.btnStarted {
    min-width: auto;
  }
  .feature-item {
    font-size: 16px;
  }
  .feature-item span.check-icon svg {
    width: 24px;
  }
  .sectionInner2 .features {
    grid-template-columns: repeat(1, 1fr);
  }
  .sectionInner2 .card-box {
    margin-bottom: 15px;
  }
  .section3 .innerSection {
    margin-top: 20px;
  }
  .section4 .section3 .innerSection {
    padding: 16px;
  }

  section.sectionFive,
  .sectionSix {
    margin-top: 30px;
  }
  .sectionFive .sectionFiveHeading {
    margin-bottom: 20px;
  }
  span.check-icon svg {
    width: 24px;
  }

  .sectionInner2 .features {
    grid-template-columns: repeat(1, 1fr);
  }

  .industyLeftInner {
    background-image: none;
    padding: 16px;
  }

  .industyLeft.industyFirst ul {
    padding: 0 !important;
  }

  .industyTwo .industyLeftInner,
  .industyThree .industyLeftInner {
    background-image: none;
  }

  .industyLeft .title {
    font-size: 28px;
  }

  .industryContainer .trustLogo ul li {
    width: calc(50% - 16px);
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .industryContainer .trustLogo ul li img {
    max-width: 100%;
  }
  .aboutBanner .home-content .home-title-inner {
    font-size: 30px !important;
  }
  .global-footprints {
    padding: 40px 16px;
  }
  .servicesHeadingBx {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .sectionInner2 .sub-list li {
    justify-content: center;
  }
  .service-right .so-box {
    text-align: center;
  }
  .servicesHeadingBx,
  .sectionInner2 .card-box {
    text-align: center;
  }
  .tech-feature .card-box.tab-show {
    display: flex;
  }
  .sectionInner2 .tech-feature .icon,
  .sectionInner2 .section4Right .icon {
    justify-content: center;
    margin: 0 auto;
  }
  .call-to-action {
    padding: 30px 10px;
  }
  .contactUs .row .left {
    padding-left: 24px;
  }
  .call-to-action h2 {
    font-size: 28px !important;
  }
  .section9.aboutContact .helpPara div {
    font-size: 18px;
  }
  .speakSubHeading {
    font-size: 18px;
  }
  .teamExperience li svg {
    min-width: 30px;
    width: 30px;
  }
  .teamDetail {
    gap: 20px;
  }
  .teamList {
    flex-direction: column;
  }
  .teamExperience {
    padding: 0;
  }
  .teamExperience li {
    font-size: 18px;
  }
}
@media (min-width: 991px) {
  .ipadShow {
    display: none;
  }
}
@media (min-width: 1200px) {
  .abt-service-right > .row {
    margin-left: -20px;
  }
}
